<div class="footer">
    <div class="home-flash-dark pt-0 pb-0">
        <div class="container">
            <hr class="mt-0 mb-0"></div>
        </div>
        <div class="footer-flash home-flash-dark">
            <div class="container">
                <div class="footer-content-flash">
                    <div class="row">
                        <div class="col-md-4 col-6 mb-5">
                            <h5>Office</h5>
                            <div class="contact-item">Address no. 5, Anand Park,<br/> Pune - &nbsp;411007</div>
                            <div class="contact-item">
                                <a href="mailto:{{email}}">
                                    {{ email }}
                                </a>
                            </div>
                            <div class="contact-item">
                                <a href="tel:{{phone}}" class="phone-link">{{phone}}</a>
                            </div>
                        </div>
                        {#        <div class="col-md-3 col-6 mb-5">
                                                <h5>help</h5>
                                                <ul class="footer-nav">
                                                    <li><a href="#">FAQs</a></li>
                                                    <li><a href="#">Terms & Conditions</a></li>
                                                    <li><a href="#">Privacy Policy</a></li>
                                                    <li><a href="#">Help</a></li>
                                                    <li><a href="#">Services</a></li>
                                                </ul>
                                            </div> #}
                        <div class="col-md-4 col-6 mb-5">
                            <h5>quick links</h5>
                            <ul class="footer-nav">
                                <li>
                                    <a href="#">Workshop</a>
                                </li>
                                <li>
                                    <a href="/illustrations.html">Illustrations</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6 mb-5">
                            <ul class="social social-rounded">
                                <li>
                                    <a href="{{ social.fb }}">
                                        <i class="socicon-instagram" ></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ social.ig }}">
                                        <i class="socicon-facebook"></i>
                                    </a>
                                </li>
                                {# <li><a href="#"><i class="socicon-googleplus"></i></a></li> #}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="site-info">
                    <div class="row">
                        <div class="col-6">
                            <div class="copyright text-left">&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                &nbsp;
                                <strong>Doodle Factory</strong>. All Rights Reserved.</div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">Created by
                                <strong>
                                    <a href="https://hokohokomedia.com">Hoko Hoko Media</a>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>