<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- CSS -->
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/css/animsition.min.css" type="text/css" rel="stylesheet">
  <link href="/css/owl.carousel.min.css" type="text/css" rel="stylesheet">
  <link href="/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
  <link href="/css/socicon.css" rel="stylesheet" type="text/css">
  <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href="/css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/css/jquery.fancybox.min.css" rel="stylesheet" type="text/css"> <!--  Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/style.css" />
  {% block head %}
  <title>My site</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% endblock %}
</head>

<body>
  {% block header %}{% endblock %}
  {# <div class="theme-orange fixed-footer fixed-footer-lg"> #}
    <div class="animsition">
      <div class="wrapper"> {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {# {% include "partials/_footer.njk" %} #}
  {% block scripts %}{% endblock %}
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
  </script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/animsition.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.pagepiling.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/TweenMax.min.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/animation.gsap.min.js"></script>
  <script src="js/jquery.viewport.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>