{% extends "_layout.njk" %}
{% import 'macros/_header.njk' as header %}
{% import 'macros/cta.njk' as cta %}


{% block head %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <meta name="description" content="Lewis - Creative Portfolio HTML Template">
    <meta name="author" content="Paul, Logan Cee">
    <title>Workshops | Doodle Factory</title>
{% endblock %}

{% block content %}

  <div class="theme-orange fixed-footer fixed-footer-lg">
      {{ header.renderHeader('index') }}

        <div class="section" >
          <div class="section-item">
            <div class="container">
              <div class="mt50 mb60">
                <div class="rounded-logo rounded-logo-md mb90 wow fadeInUp">
                  <svg viewBox="0 0 200 200">
                    <path id="textPath" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                    <g font-size="20px">
                      <text text-anchor="start">
                        <textPath xlink:href="#textPath" startOffset="0%">• Art • Calligraphy• Illustrations • TDF</textPath>
                      </text>
                    </g>
                  </svg>
                  <div class="logo">
                    <img src="/img/TDF-logo-for-web.png" alt="" width="120px">
                  </div>
                </div>

                <h1 class="h1-lg mb20 wow fadeInUp" data-wow-delay=".2s"><a href="tel:{{ phone }}" class="phone-link"> {{ phone }} </a></h1>
                <h2 class="fs42 wow fadeInUp" data-wow-delay=".4s"><a href="mailto:{{ email }}" class="text-black text-underline">{{ email }}</a></h2>
                {# <h3 class="fs30 text-grey mt90 wow fadeInUp" data-wow-delay=".6s">166 Main Street, Beverly Hills, San Francisco, CA, USA</h3> #}
              </div>

            </div>
          </div>
        </div>

<div class="section section-content section-centered full-height full-image-dark text-white" style="background-image: url(img/contact-bg.jpg);"> 
</div>
{#         <div class="container-fluid">
          <div class="image mask-skew wow fadeIn" data-wow-offset="150" data-wow-duration="0.2s" data-wow-delay=".3s">
            <div class="mask wow slideInLeft" data-wow-offset="150" data-wow-duration="1.2s" data-wow-delay=".3s"><div class="inside"></div></div>
            <img src="img/pic161.jpg" alt="" class="img-fluid" />
          </div>
        </div> #}

        <div class="section">
          <div class="section-item">
            <div class="container wow fadeInUp" data-wow-delay=".2s">
              <h3 class="fs36 mb120">Get In Touch</h3>
              <form action="#" class="text-left">
                <div class="row">
                  <div class="col-sm-4 mb30">
                    <label class="label-custom">Name</label>
                    <input type="text" class="form-control form-control-custom" placeholder="Your name" />
                  </div>
                  <div class="col-sm-4 mb30">
                    <label class="label-custom">Email</label>
                    <input type="text" class="form-control form-control-custom" placeholder="Your Email Address" />
                  </div>
                  <div class="col-sm-4 mb30">
                    <label class="label-custom">Phone Number</label>
                    <input type="text" class="form-control form-control-custom" placeholder="Your Phone Number" />
                  </div>
                  <div class="col-sm-12 mb30">
                    <label class="label-custom">message</label>
                    <textarea rows="9" cols="30" class="form-control form-control-custom" placeholder="Write your message here"></textarea>
                  </div>
                </div>
                <div class="mt40 text-center"><button class="btn btn-link fs18 text-black text-underline">send message</button></div>
              </form>
            </div>
          </div>
        </div>

      </div>
      {{ cta.renderCta('We offer art classes for both adults & kids. Enroll today & jumpstart your art journey today!', 'Learn More', '/classes') }}
      {% include "partials/_footer.njk" %}
{% endblock %}
